@use '../../styles/variables';

.review {
    background-color: var(--color-lightest);
    border-radius: variables.$border-radius;
    margin: variables.$spacing-large 0;
    padding: variables.$spacing-large;

    .user {
        padding-bottom: variables.$spacing-medium;
    }
}
