@use '../../styles/variables';
@use '../../styles/utils';

$color-primary: variables.$color-primary;
$color-secondary: variables.$color-secondary;

.button {
    border-width: 1px;
    border-radius: variables.$border-radius;
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    padding: 0 variables.$spacing-medium;

    &.primary {
        background-color: $color-primary;
        border: none;
        color: #fff;

        &[disabled] {
            background-color: utils.get-disabled-color($color-primary);
        }
    }

    &.secondary {
        background-color: $color-secondary;

        &[disabled] {
            background-color: utils.get-disabled-color($color-secondary);
        }
    }

    &[disabled] {
        cursor: default;
    }
}
