@use '../../styles/variables';

$spacing: variables.$spacing-small;

.tabs {
    border-bottom: 1px solid var(--color-lightest);

    button {
        margin-right: $spacing;
        padding-bottom: $spacing;
    }
}
