@use '../../styles/variables';

$spacing: variables.$spacing-small;

.tabs {
    border-bottom: 1px solid variables.$color-lighter;

    button {
        margin-right: $spacing;
        padding-bottom: $spacing;
    }
}
