@use '../../styles/variables';

.reviews {
    ul {
        list-style: none;
        padding: 0 0 variables.$spacing-small;

        li {
            background-color: variables.$color-lightest;
            border-radius: variables.$border-radius;
            margin: variables.$spacing-large 0;
            padding: variables.$spacing-large;
        }
    }
}
