@use '../../styles/variables';

$spacing: variables.$spacing-medium;

.reviews {
    ul {
        list-style: none;
        padding: 0px;

        li {
            background-color: variables.$color-light;
            border-radius: variables.$border-radius;
            margin: $spacing 0;
            padding: $spacing;
        }
    }
}
