$border-radius: 4px;

$color-default: #000;
$color-light: rgba($color-default, 0.2);
$color-primary: #6200ee;
$color-secondary: #fff;

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
