:root {
    // --color-default: rgb(0, 0, 0);
    --color-default-h: 0;
    --color-default-s: 0%;
    --color-default-l: 0%;
    --color-default: hsl(var(--color-default-h), var(--color-default-s), var(--color-default-l));

    // --color-primary: rgb(98, 0, 238);
    --color-primary-h: 265;
    --color-primary-s: 100%;
    --color-primary-l: 47%;
    --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
    
    --color-light: #aaa;
    --color-lighter: #ccc;
    --color-lightest: #eee;
    --color-secondary: #fff;
    --box-shadow: 0 0 2px #aaa;

    --background-color: rgb(255, 255, 255);
}

.theme-dark {
    --color-secondary: #000;
}

$font-family: Roboto, sans-serif;
$border-radius: 4px;
$field-height: 30px;

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
