@use '../../styles/variables';

.textArea {
    border: 1px solid variables.$color-light;
    border-radius: variables.$border-radius;
    height: variables.$field-height;
}

.label {
    margin-right: variables.$spacing-small;
}
