@use '../../styles/variables';

.menuItem {
    border: 1px solid variables.$color-light;
    border-radius: variables.$border-radius;
    display: flex;
    padding: variables.$spacing-medium;

    .title {
        margin-right: variables.$spacing-large;
    }
}
