@use '../../styles/variables';
@use '../../styles/utils';

.tab {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: variables.$spacing-small;

    &.active {
        border-bottom: 2px solid;
        color: variables.$color-primary;
    }

    &:hover:not(.active) {
        color: utils.get-hover-color(variables.$color-default)
    }
}
