@use '../../styles/variables';

$background-color: variables.$background-color-default;
$height: variables.$spacing-large * 8;
$button-spacing: variables.$spacing-large;

.footer {
    background-color: $background-color;
    box-shadow: variables.$box-shadow;
    height: $height;

    .button {
        margin: $button-spacing 0 $button-spacing $button-spacing;
    }
}
